<% layout('/layout/boilerplate.ejs') %>
    <div class="d-flex flex-wrap">
        <% for (let c of campgrounds) {%>
            <div class="card my-3 mx-3" style="width: 30%;">
                <img src="<%=c.image[0].url%>" class="card-img-top img-fluid" alt="<%=c.title%> image">
                <div class="card-body name">
                    <h5 class="card-title">
                        <%=c.title%>
                    </h5>
                    <p class="card-text">
                        <%=c.description%>
                    </p>
                    <p class="card-text text-muted">
                        $<%=c.price%>
                    </p>
                    <a href="/campgrounds/<%=c._id%>" class="btn btn-primary">View Campground</a>
                </div>
            </div>
            <%}%>
    </div>