<% layout('/layout/boilerplate.ejs') %>
    <link rel="stylesheet" href="/stylesheet/star.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <% for(let image of camp.image) { %>
                        <div class="carousel-item active">
                            <img src="<%=image.url%>" class="d-block w-100" alt="...">
                        </div>
                        <%}%>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%=camp.title%>
                    </h5>
                    <p class="card-text">
                        <%=camp.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Location:</b>
                        <%=camp.location%>
                    </li>
                    <li class="list-group-item"><b>Price:</b>
                        $<%=camp.price%>
                    </li>
                    <li class="list-group-item"><b>Submitted By: </b>
                        <%=camp.author.username%>
                    </li>
                </ul>
                <% if(currentUser && camp.author.equals(currentUser)){%>
                    <div class="card-body d-flex d-column d-nowrap">
                        <form action="/campgrounds/<%=camp._id%>/edit" method="GET">
                            <button class="btn btn-primary">Edit</button>
                        </form>
                        <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger mx-3">Delete</button>
                        </form>
                    </div>
                    <%}%>
            </div>
        </div>




        <div class="col-6">
            <h2>Leave a Review</h2>
            <form class='form-label' action="/campgrounds/<%=camp._id%>/reviews" method='POST'
                class="mb-3 validated-form" novalidate>
                <!-- <div class="'mb-3">
                    <label class='form-label' for="rating">Rating</label>
                    <input class='form-range' type="range" name="review[rating]" id="rating" min="1" max="5">
                </div> -->
                <div class="mb-1">
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="body">Review</label>
                    <textarea class='form-control' name="review[body]" id="body" cols="30" rows="3" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>




            <h2>Reviews</h2>
            <% for(let review of camp.reviews) { %>
                <div class="card mb-3">
                    <div class="mb-3 card-body">
                        <p class="card-title starability-result" data-rating="<%=review.rating%>">
                            Rating: <%= review.rating%> stars
                        </p>
                        <p>
                            <%=review.body%>
                        </p>
                        <% if(currentUser && review.author.equals(currentUser._id)) { %>
                            <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <%}%>
                    </div>
                </div>
                <%}%>
        </div>
    </div>
    </div>
    </div>